## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [12]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [13]:
sample_list_1 = (random.sample(range(101),80))
print(sample_list_1)

[84, 43, 34, 99, 49, 37, 87, 100, 4, 82, 20, 95, 88, 14, 76, 44, 31, 18, 62, 52, 22, 46, 94, 15, 57, 73, 63, 70, 2, 66, 60, 28, 7, 53, 64, 80, 81, 69, 77, 23, 58, 72, 75, 92, 38, 32, 47, 16, 79, 27, 67, 6, 48, 65, 40, 90, 35, 55, 74, 33, 24, 89, 9, 51, 0, 12, 29, 54, 98, 61, 68, 17, 39, 97, 93, 78, 86, 42, 41, 1]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [14]:
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [15]:
sample_list_2 = []

for i in range(0,80):
    sample_list_2.append(random.randint(1, 100))
print(sample_list_2)

[55, 59, 37, 30, 82, 82, 19, 73, 8, 71, 2, 20, 55, 41, 22, 40, 55, 95, 39, 51, 83, 60, 37, 42, 2, 17, 80, 84, 83, 84, 90, 59, 35, 71, 13, 90, 14, 25, 59, 65, 58, 34, 43, 69, 95, 31, 30, 15, 89, 40, 8, 27, 82, 80, 15, 12, 84, 7, 77, 39, 50, 67, 32, 30, 10, 13, 22, 13, 4, 9, 30, 7, 22, 17, 52, 85, 41, 11, 43, 90]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [16]:
set2=set(sample_list_2)
print(len(set2))

49

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [31]:
set3=set1-set2
set3

{0,
 1,
 6,
 16,
 18,
 23,
 24,
 28,
 29,
 33,
 38,
 44,
 46,
 47,
 48,
 49,
 53,
 54,
 57,
 61,
 62,
 63,
 64,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 79,
 81,
 86,
 87,
 88,
 92,
 93,
 94,
 97,
 98,
 99,
 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [32]:
set4=set2-set1
set4

{8, 10, 11, 13, 19, 25, 30, 50, 59, 71, 83, 85}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [33]:
set5 = set1.difference(set2)
set5

{0,
 1,
 6,
 16,
 18,
 23,
 24,
 28,
 29,
 33,
 38,
 44,
 46,
 47,
 48,
 49,
 53,
 54,
 57,
 61,
 62,
 63,
 64,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 79,
 81,
 86,
 87,
 88,
 92,
 93,
 94,
 97,
 98,
 99,
 100}

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [20]:
# Your code here

#### Create an empty set called `set6`.

In [21]:
# Your code here

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [22]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [23]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [24]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [25]:
# Your code here

#### Using the `pop` method, remove an element from `set1`.

In [26]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [27]:
# Your code here