In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('Data_Marketing_Customer_Analysis_Round3.csv')
df

,region,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,location_code,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,arizona,4809,no,basic,college,2/18/11,employed,m,48029,suburban,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,california,2228,no,basic,college,1/18/11,unemployed,f,61311,suburban,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,washington,14947,no,basic,bachelor,2/10/11,employed,m,22139,suburban,...,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,oregon,22332,yes,extended,college,1/11/11,employed,m,49078,suburban,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,oregon,9025,no,premium,bachelor,1/17/11,medical leave,f,23675,suburban,...,31,0,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10597,nevada,15563,no,premium,bachelor,1/19/11,unemployed,f,38966,suburban,...,40,0,7,personal auto,personal l1,offer3,web,1214,luxury car,medsize
10598,oregon,5259,no,basic,college,1/6/11,employed,f,61146,urban,...,68,0,6,personal auto,personal l3,offer2,branch,273,four-door car,medsize
10599,arizona,23893,no,extended,bachelor,2/6/11,employed,f,39837,rural,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize
10600,california,11971,no,premium,college,2/13/11,employed,f,64195,urban,...,27,4,6,personal auto,personal l1,offer1,branch,618,suv,medsize
10601,california,6857,no,basic,bachelor,1/8/11,unemployed,m,85639,suburban,...,1,0,3,personal auto,personal l1,offer4,web,1021,suv,medsize

In [5]:
numerical = df.select_dtypes(include=[np.number])
categoricals = df.select_dtypes(include=[np.object0])
numerical

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,4809,48029,61,7,52,0,9,292
1,2228,61311,64,3,26,0,1,744
2,14947,22139,100,34,31,0,2,480
3,22332,49078,97,10,3,0,2,484
4,9025,23675,117,25,31,0,7,707
...,...,...,...,...,...,...,...,...
10597,15563,38966,253,19,40,0,7,1214
10598,5259,61146,65,7,68,0,6,273
10599,23893,39837,201,11,63,0,2,381
10600,11971,64195,158,0,27,4,6,618
10601,6857,85639,101,31,1,0,3,1021

In [8]:
numerical.shape

(10602, 8)

In [10]:
categoricals.shape

(10602, 15)

In [11]:
numerical[numerical].hist(bins=15, figsize=(15, 6), layout=(2, 4));

ValueError: Boolean array expected for the condition, not int64