In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\Adam\Desktop\2. Cars Data1.csv')

In [4]:
df.head(3)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0

In [6]:
df.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [10]:
df.count()

Make           428
Model          428
Type           428
Origin         428
DriveTrain     428
MSRP           428
Invoice        428
EngineSize     428
Cylinders      426
Horsepower     428
MPG_City       428
MPG_Highway    428
Weight         428
Wheelbase      428
Length         428
dtype: int64

In [11]:
df.nunique()

Make            38
Model          425
Type             6
Origin           3
DriveTrain       3
MSRP           410
Invoice        425
EngineSize      43
Cylinders        7
Horsepower     110
MPG_City        28
MPG_Highway     33
Weight         348
Wheelbase       40
Length          67
dtype: int64

In [13]:
df.Type.unique()

array(['SUV', 'Sedan', 'Sports', 'Wagon', nan, 'Truck', 'Hybrid'],
      dtype=object)

In [15]:
df.Origin.unique()

array(['Asia', 'Europe', nan, 'USA'], dtype=object)

In [24]:
df.nlargest(5,'Horsepower')

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
116,Dodge,Viper SRT-10 convertible 2dr,Sports,USA,Rear,"$81,795","$74,451",8.3,10.0,500.0,12.0,20.0,3410.0,99.0,176.0
266,Mercedes-Benz,CL600 2dr,Sedan,Europe,Rear,"$128,420","$119,600",5.5,12.0,493.0,13.0,19.0,4473.0,114.0,196.0
274,Mercedes-Benz,SL55 AMG 2dr,Sports,Europe,Rear,"$121,770","$113,388",5.5,8.0,493.0,14.0,21.0,4235.0,101.0,179.0
275,Mercedes-Benz,SL600 convertible 2dr,Sports,Europe,Rear,"$126,670","$117,854",5.5,12.0,493.0,13.0,19.0,4429.0,101.0,179.0
338,Porsche,911 GT2 2dr,Sports,Europe,Rear,"$192,465","$173,560",3.6,6.0,477.0,17.0,24.0,3131.0,93.0,175.0

In [25]:
df.nsmallest(5,'Horsepower')

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
152,Honda,Insight 2dr (gas/electric),Hybrid,Asia,Front,"$19,110","$17,911",2.0,3.0,73.0,60.0,66.0,1850.0,95.0,155.0
151,Honda,Civic Hybrid 4dr manual (gas/electric),Hybrid,Asia,Front,"$20,140","$18,451",1.4,4.0,93.0,46.0,51.0,2732.0,103.0,175.0
408,Volkswagen,Jetta GLS TDI 4dr,Sedan,Europe,Front,"$21,055","$19,638",1.9,4.0,100.0,38.0,46.0,3003.0,99.0,172.0
69,Chevrolet,Aveo 4dr,Sedan,USA,Front,"$11,690","$10,965",1.6,4.0,103.0,28.0,34.0,2370.0,98.0,167.0
70,Chevrolet,Aveo LS 4dr hatch,Sedan,USA,Front,"$12,585","$11,802",1.6,4.0,103.0,28.0,34.0,2348.0,98.0,153.0

In [28]:
df.nsmallest(5,'Weight')

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
152,Honda,Insight 2dr (gas/electric),Hybrid,Asia,Front,"$19,110","$17,911",2.0,3.0,73.0,60.0,66.0,1850.0,95.0,155.0
386,Toyota,Echo 2dr manual,Sedan,Asia,Front,"$10,760","$10,144",1.5,4.0,108.0,35.0,43.0,2035.0,93.0,163.0
388,Toyota,Echo 4dr,Sedan,Asia,Front,"$11,290","$10,642",1.5,4.0,108.0,35.0,43.0,2055.0,93.0,163.0
387,Toyota,Echo 2dr auto,Sedan,Asia,Front,"$11,560","$10,896",1.5,4.0,108.0,33.0,39.0,2085.0,93.0,163.0
400,Toyota,MR2 Spyder convertible 2dr,Sports,Asia,Rear,"$25,130","$22,787",1.8,4.0,138.0,26.0,32.0,2195.0,97.0,153.0

In [29]:
df.nlargest(5,'Weight')

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
120,Ford,Excursion 6.8 XLT,SUV,USA,All,"$41,475","$36,494",6.8,10.0,310.0,10.0,13.0,7190.0,137.0,227.0
169,Hummer,H2,SUV,USA,All,"$49,995","$45,815",6.0,8.0,316.0,10.0,12.0,6400.0,123.0,190.0
145,GMC,Yukon XL 2500 SLT,SUV,USA,All,"$46,265","$40,534",6.0,8.0,325.0,13.0,17.0,6133.0,130.0,219.0
233,Lincoln,Navigator Luxury,SUV,USA,All,"$52,775","$46,360",5.4,8.0,300.0,13.0,18.0,5969.0,119.0,206.0
64,Cadillac,Escalade EXT,Truck,USA,All,"$52,975","$48,541",6.0,8.0,345.0,13.0,17.0,5879.0,130.0,221.0