In [144]:
import pandas as pd
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import KMeans
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt
import seaborn as sns

In [145]:
df = pd.read_csv('world-population-by-country-2020.csv')

In [146]:
df.head(3)

,no,Country (or dependency),Population 2020,Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,China,"1,439,323,776",0.39%,"5,540,090",153,"9,388,211","-348,399",1.7,38,61%,18.47%
1,2,India,"1,380,004,385",0.99%,"13,586,631",464,"2,973,190","-532,687",2.2,28,35%,17.70%
2,3,United States,"331,002,651",0.59%,"1,937,734",36,"9,147,420","954,806",1.8,38,83%,4.25%

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   no                       235 non-null    int64
 1   Country (or dependency)  235 non-null    object
 2   Population 2020          235 non-null    object
 3   Yearly Change            235 non-null    object
 4   Net Change               235 non-null    object
 5   Density  (P/Km²)         235 non-null    object
 6   Land Area (Km²)          235 non-null    object
 7   Migrants (net)           201 non-null    object
 8   Fert. Rate               235 non-null    object
 9   Med. Age                 235 non-null    object
 10  Urban Pop %              235 non-null    object
 11  World Share              235 non-null    object
dtypes: int64(1), object(11)
memory usage: 22.2+ KB

In [148]:
df['Population 2020'] = df['Population 2020'].map(lambda e: e.replace(',',''))
df['Population 2020'] = df['Population 2020'].astype(int)

In [149]:
df['Net Change'] = df['Net Change'].map(lambda e: e.replace(',',''))
df['Net Change'] = df['Net Change'].astype(int)

In [150]:
df['Density  (P/Km²)'] = df['Density  (P/Km²)'].map(lambda e: e.replace(',',''))
df['Density  (P/Km²)'] = df['Density  (P/Km²)'].astype(int)

In [151]:
df['Land Area (Km²)'] = df['Land Area (Km²)'].map(lambda e: e.replace(',',''))
df['Land Area (Km²)'] = df['Land Area (Km²)'].astype(int)

In [152]:
df['Migrants (net)'] = df['Migrants (net)'].astype(str)
df['Migrants (net)'] = df['Migrants (net)'].map(lambda e: e.replace(',',''))
df['Migrants (net)'] = df['Migrants (net)'].map(lambda e: '0' if e == 'nan' else e)
df['Migrants (net)'] = df['Migrants (net)'].astype(int)

In [153]:
df['Fert. Rate'] = df['Fert. Rate'].astype(str)
df['Fert. Rate'] = df['Fert. Rate'].map(lambda e: '0' if e=='N.A.' else e)
df['Fert. Rate'] = df['Fert. Rate'].astype(float)

In [154]:
df['Med. Age'] = df['Med. Age'].astype(str)
df['Med. Age'] = df['Med. Age'].map(lambda e: '0' if e=='N.A.' else e)
df['Med. Age'] = df['Med. Age'].astype(int)

In [155]:
df.drop(['no'], axis = 1, inplace = True)

In [156]:
df.to_excel(r'Population3.xlsx', index = False)

In [157]:
df.isnull().sum().sum()

0

In [158]:
df['Urban Pop %'] = df['Urban Pop %'].map(lambda e: e[:-1]).map(lambda e: e if e!='N.A' else '0').astype(int)
df['Urban Pop'] = (df['Population 2020'] * (df['Urban Pop %'] / 100)).astype(int)
df['Rural Pop'] = (df['Population 2020'] * (1-(df['Urban Pop %'] / 100))).astype(int)

In [161]:
df

,Country (or dependency),Population 2020,Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,Urban Pop,Rural Pop
0,China,1439323776,0.39%,5540090,153,9388211,-348399,1.7,38,61,18.47%,877987503,561336272
1,India,1380004385,0.99%,13586631,464,2973190,-532687,2.2,28,35,17.70%,483001534,897002850
2,United States,331002651,0.59%,1937734,36,9147420,954806,1.8,38,83,4.25%,274732200,56270450
3,Indonesia,273523615,1.07%,2898047,151,1811570,-98955,2.3,30,56,3.51%,153173224,120350390
4,Pakistan,220892340,2.00%,4327022,287,770880,-233379,3.6,23,35,2.83%,77312319,143580021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Montserrat,4992,0.06%,3,50,100,0,0.0,0,10,0.00%,499,4492
231,Falkland Islands,3480,3.05%,103,0,12170,0,0.0,0,66,0.00%,2296,1183
232,Niue,1626,0.68%,11,6,260,0,0.0,0,46,0.00%,747,878
233,Tokelau,1357,1.27%,17,136,10,0,0.0,0,0,0.00%,0,1357
234,Holy See,801,0.25%,2,2003,0,0,0.0,0,0,0.00%,0,801